<!DOCTYPE html>
<html lang="en">
<head>
	<%- include('./partials/head.ejs') %>
</head>
<body>
	<%- include('./partials/nav.ejs') %>
	<div>
		<p>Oops! The requested page could not be found...</p>
	</div>
</body>
</html>