<!DOCTYPE html>
<html lang="en">
<head>
	<%- include('./partials/head.ejs') %>
</head>
<body>
	<%- include('./partials/nav.ejs') %>
	<form action="/create" method="POST">
		<div>
			<label for="itemName">Item Name</label>
			<input type="text" id="itemName" name="itemName" required>
		</div>
		<div>
			<label for="category">Category</label>
			<select id="category" name="category" required>
				<option value="drinks">Drinks</option>
				<option value="food">Food</option>
			</select>
		</div>
		<div>
			<label for="storage_type">Storage Type</label>
			<select id="storage_type" name="storage_type" required>
				<option value="cold">Cold</option>
				<option value="dry">Dry</option>
				<option value="frozen">Frozen</option>
			</select>
		</div>
		<div>
			<label for="price">Price</label>
			<input type="number" id="price" name="price" min="0" required>
		</div>
		<div>
			<label for="stock">Stock</label>
			<input type="number" id="stock" name="stock" min="0" required>
		</div>
		<div>
			<label for="img">Image url (optional)</label>
			<input type="text" id="img" name="img">
		</div>

		<button>Submit</button>
	</form>
</body>
</html>