<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title><%= title %></title>
</head>
<body>
	<%- include('./partials/nav.ejs') %>
	<form action="/create" method="POST">
		<input type="text" id="itemName" name="itemName">
		<input type="text" id="category" name="category">
		<input type="text" id="storage_type" name="storage_type">
		<input type="number" id="price" name="price">
		<input type="number" id="stock" name="stock">
		<input type="text" id="img" name="img">
		<button>Submit</button>
	</form>
</body>
</html>