body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  margin: 0;
}

a {
  color: #00B7FF;
}

nav {
  background-color: #002E2C;
  color: #EFF1C5;
  padding: 1rem;
  text-align: center;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 1rem;
}

nav > a {
  text-decoration: none;
  color: #EFF1C5;
  font-weight: bolder;
}

nav > a:hover {
  color: white;
}

#logo {
  margin-right: auto;
  font-size: 1.5rem;
}